body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: relative;
}

.header-container {
  position: relative;
  padding: 0 10px;
}

#end-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: 2px solid #fff;
  /* ボタンの縁取り */
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  /* ボタン内の余白 */
  border-radius: 5px;
  /* ボタンの角を丸める */
  transition: background-color 0.3s, color 0.3s;
  /* ホバー効果を滑らかにする */
}

#end-button:hover {
  background-color: #fff;
  /* ホバー時の背景色 */
  color: #333;
  /* ホバー時の文字色 */
}

/* 文の文字サイズ */
#typeDisplay span {
  font-size: 20px;
}

/* ローマ字の文字サイズ */
#romajiDisplay span {
  font-size: 20px;
}

.typing-container {
  margin: 20px;
}

.instructions {
  text-align: right;
  margin-bottom: 10px;
}

.timer,
.accuracy,
.input-area,
.character {
  margin-bottom: 20px;
}

#typing-input {
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

button {
  margin: 5px;
  padding: 10px 20px;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: block;
  /* 修正: デフォルトで表示 */
  z-index: 1000;
}

.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: none;
  /* 初期状態で非表示 */
  z-index: 1000;
}

.confirm-dialog p {
  margin: 0 0 10px;
}

.confirm-dialog button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* 正確性の表示色 */

.accuracy p {
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
  /* 色が変更される時にスムーズに変わる */
}

.accuracy p.blue {
  color: #0000FF;
  /* 青色 */
}

.accuracy p.yellow {
  color: #FFFF00;
  /* 黄色 */
}

.accuracy p.red {
  color: #FF0000;
  /* 赤色 */
}


/* 結果 */
.results {
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#result-section {
  display: flex;


  flex-direction: column;
  /* 縦に要素を並べます */
  flex: 1;
  /* 親コンテナの幅に応じて伸縮させる */


  margin-right: 20px;
  /* ランキングとの間にスペースを確保 */
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.results h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.results p {
  font-size: 18px;
  margin: 10px 0;
}


/* 追加するCSS */
#result-section {
  display: block;
  /* この行で表示されるようにします */
}

/* キーボードキーのハイライト色 */
/* .key.correct {
  background-color: #00A0E9;
  // 青色
  color: #fff;
} */

.key.incorrect {
  background-color: #FF4500;
  /* 赤色 */
  color: #fff;
}

.key.active {
  background-color: #FFD700;
  /* ハイライトの背景色 */
  color: #000;
  /* ハイライトの文字色 */
}

#comparison-text .highlight {
  color: red;
  font-weight: bold;
}